#gridArea {
  white-space: nowrap;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#gridArea > .cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #000000;
  cursor: pointer;
}

#gridArea > .cell.on {
  background-color: #000000;
}

#gridArea > .cell.off {
  background-color: #FFFFFF;
}

.output-container {
  position: relative;
}

#copy_output {
  position: absolute;
  top: 8px;
  right: 2px;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 1.25em;
}

#copy_output > span {
    display: none;
}

.hidden {
  display: none;
}
