body {
    --darkest-color: #000000;
    --lightest-color: #FFFFFF;

    background-color: var(--lightest-color);
}

body.dark-theme {
    --lightest-color: #000000;
    --darkest-color: #FFFFFF;
}

#gridArea {
  white-space: nowrap;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#gridArea > .cell {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid var(--darkest-color);
  cursor: pointer;
}

#gridArea > .cell.on {
  background-color: var(--darkest-color);
}

#gridArea > .cell.off {
  background-color: var(--lightest-color);
}

.output-container {
  position: relative;
}

#copy_output {
  position: absolute;
  top: 8px;
  right: 2px;
  background: none;
  border: none;
  color: var(--lightest-color);
  font-size: 1.25em;
}

.hidden {
  display: none;
}

.mdi span {
  display: none;
}

.tool {
  background-color: var(--lightest-color);
  border: 1px solid var(--darkest-color);
  color: var(--darkest-color);
  border-radius: 5px;
  padding: 5px 8px;
}

.tool.active {
  background-color: var(--darkest-color);
  border: 1px solid var(--lightest-color);
  color: var(--lightest-color);
}

.number {
  width: 50px;
  text-align: center;
  margin: 2px;
}
